{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HIT237 Group20</title>

  <link rel="stylesheet" href="{% static 'yt_app/css/style1.css' %}" rel="stylesheet">


</head>
<body>
  <div class="header">
    <div class="logo">HIT237 Group 20</div>
    <ul class="navbar">
      <li><a href="#home">HOME</a></li>
      <li><a href="#project">PROJECT LIST</a></li>
      <li><a href="#about">PROJECT DETAILS</a></li>
      <li><a href="#contact">ABOUT</a></li>
    </ul>
  </div>

  <div class="centered-search-bar">
    <div class="search-bar">
      <input type="text" placeholder="Search...">
      <button>🔍</button>
    </div>
  </div>

  <div class="banner">
    <h1>Explore AI to Cybersecurity: CDU's Research Excellence</h1>
    <p>Explore engineering and computer science research at Charles Darwin University (CDU).
      From artificial intelligence to cybersecurity, our research repository encompasses cutting-edge projects and expert supervisor information, making it the ideal platform for academic inquiry and industry collaboration.</p>
  </div>

</body>
</html>